@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FAF3E0;
}


.box {

    position: relative;
    color: #000;
    background: #cee3e6;
    width: 425px;
    border: 2px solid #2e2e44;
    padding: 20px 45px;
    box-shadow: 0 5px 25px rgba(14, 21, 37, 0.8);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.box::before {
    content: '';
    position: absolute;
    background: linear-gradient(45deg, #24ff6d, #2f93f1, #ff5e9a);
    background-size: 200% 200%;
    top: -5px;
    left: -5px;
    bottom: -5px;
    right: -5px;
    z-index: -1;
    filter: blur(40px);
    animation: magicx 4s ease infinite;
}

@keyframes magicx {
    0% {
        background-position: 0 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0 50%;
    }
}

.time {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

}

.hr,
.dot,
.min {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    padding: 0 1px;
    line-height: 125px;
}

.hr,
.min {
    font-size: 5.5em;
    width: 145px;
}

.dot {
    font-size: 5em;
    color: #424242;
}

.hr {
    background: -webkit-linear-gradient(90deg, #634dff, #5fd4ff);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}


.min {
    background: -webkit-linear-gradient(90deg, #ff5e9e, #ffb960);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.box2 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 10px;
}


.timetype,
.sec {
    font-size: 1.3rem;
    font-weight: 500;
}

.timetype {
    transform: translateY(-20px);
    color: black;
}


.sec {
    transform: translateY(16px);
    background: -webkit-linear-gradient(90deg, #00e54c, #0c6b00);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}


.togglebtn {
    position: absolute;
    right: 15px;
    top: 15px;
    z-index: 2000;
    cursor: grab;
}


.dot-menu-btn {
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
    color: #000000;
    font-size: 1.5em;
    cursor: pointer;
}

.dot-menu {
    z-index: 100;
    position: absolute;
    top: 7px;
    right: 5px;
    list-style: none;
    background: #353e54;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.5);
    visibility: hidden;
    opacity: 1;
    transition: 0.4s ease;
}

.dot-menu.active {
    z-index: 1000;
    visibility: visible;
    opacity: 1;
}

.menu-list {
    display: flex;
    justify-content: center;
    align-items: center;
}


.clock-format-text {
    color: #efefef;
    font-size: 0.9em;
    margin-right: 20px;
}

.time-format-btn {
    width: 35px;
    height: 15px;
    background: #485470;
    border-radius: 75px;
    box-shadow: inset 2px 2px 4px rgba(255, 255, 255, 0.1),
        inset -2px -2px 4px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.time-format-btn::before {
    content: '';
    position: absolute;
    width: 14px;
    height: 14px;
    background: #ff5e9a;
    border-radius: 50%;
    box-shadow: 0 5px 25px #ff5e9a;
    transform: translateX(-10px);
    transition: 0.4s ease;
    transition-property: background, transform;
}

.time-format-btn.active::before {
    background: #0bff8d;
    box-shadow: 0 5px 25px #0bff8d;
    transform: translateX(10px);
}